* {
    font-family: Quicksand ;
    box-sizing: border-box;
}
.supercontainer{
    padding-top: 18vh;
}
.h1contact{
    font-family: Quicksand ;
    font-size: 5vh;
    text-align: center;
}
.h1contact span{
    color: #b70e21;
}
.containercontact{
    background-color: black;
    color: white;
    padding: 0 1.5em;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.contact-wrapper{
    box-shadow: 0 0 20px 0 rgba(255,255,255, .3);
}
.contact-wrapper > * {
    padding: 1em;
}
.contact-form{
    background-color: #222222;
}
.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-form form .block{
    grid-column: 1 / 3;
}


.contact-form form p{
    margin: 0;
    padding: 1em;
    font-size: 1.5em;
}
.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #b70e21;
    color:azure;
}
.contact-form form button{
    background: #b70e21;
    color: black;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}
.contact-form form button:hover,
.contact-form form button:focus{
    background-color: #d63031;
    color: rgb(255, 255, 255);
    transition: background-color 0.8s ease-out;
    outline: 0;
}


.contact-info{
    background-color:rgb(0, 0, 0);
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}
.contact-info ul{
    list-style: none;
    padding: 0;
}
.contact-info ul li{
    padding: .2em;
}

/*LARGE SCREEN*/
@media(min-width: 700px){
    body{
        padding: 0 4rem;
    }
    .contact-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper{
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p{
        padding: 1em;
        text-align: left;
    }
    }
