.tittleabout{
    font-family:Verdana,Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    padding-top: 8%;
    padding-left: 8%;
}
.containerabout{
    width: 45%;
    margin: 15% auto;
    margin-left: 40%;
    border: solid 1px rgb(255, 255, 255);
    color: white;
}

.acabout{
    padding-left: 2%;
    font-size: 3rem;
}
.pabout{
    padding-left: 2%;
    font-size: 3rem;
}


.cardcontainer{
    padding-top: 15%;
    display:flex;
    justify-content: space-around;
}
.cardhtml{

}